<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>404 Not Found</h2>
    <p class="glowing-text">This is not an actual route, maybe you made a typo? 8==D</p>
    <button onclick="window.history.back()">Go Back</button>
</body>
</html>